body {
	padding-top: 70px;
}

.navbar-default {
	background-color: black;
}

.navbar-red {
	background-color: red;
}

.navbar-default .navbar-text {
	color: white;
}

.tachado {
	text-decoration: line-through;
}

.alinear-texto {
    display: inline;
}

#seccionPublicar > input.form-control {
    width: 20%;
}



